@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: inherit;
}

header li, a, button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;

  
}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
/* need to insert logo */
.logo {
  cursor: pointer;
  margin: 5px;
  width: 80px;
  height: 40px;
}

.nav__links{
  list-style: none;

}

.nav__links li {
  display: inline-block;
  background-color: transparent;
  padding: 0px 20px;

}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color:#2d7c9d

}

button {
  padding: 9px 25px;
  margin: 10px;
  background-color: #161d20 ;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color:#ffffff
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}


body {
  background-color: rgba(183, 191, 205);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  line-height: 1.8em;
  overflow-x: hidden;

}

.team-profile {
  background-color: #ffffff;
  margin: 40px;
  padding: 20px;
}

.team-info{
  display:grid;
  grid-template-columns: 30% 70%;
  grid-row-gap: 1em
}

.team-info > div {
  background: #eee;
  padding: 1em;
}

.team-info > div:nth-child(odd) {
  background: rgb(255, 255, 255);
}

.image {
  position: relative;
  width: 300px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: rgba(50, 51, 51, 0.5);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
  text-align: center;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.table{
  text-align: center;
}

h3{
  padding: 40px 40px 0px
}

h2{
  text-align: center;

}

.canvas_img{

  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



h4{
  padding: 30px;
}

.table, th, td {
  border:1px solid black;
}
.team-personality{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify
}
.ideal_jobs_img{
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; /* remove extra space below image */
}

.industry_img{
  max-width: 700px;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ideal-jobs{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify
}

.industry-data, li{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify
}

.it-work{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify
}

.it-technologies{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify
}

.project-idea{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify;
}

.questions{
  padding: 25px 60px;
  font-weight: bold;

}

.answers{
  padding: 25px;
  text-align: justify
}

.contact-id{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify
}

.reference_list{
  background-color: #ffffff;
  margin:40px;
  padding:20px
}

.Reflections{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify

}

.group_reflections{
  background-color: #ffffff;
  margin:40px;
  padding:20px;
  text-align: justify

}

.footer{
  background-color: rgb(117, 117, 117);
  color: rgba(183, 191, 205);


}

.layout {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 30px;
}
